*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  margin: 0;}

.layout {
  background: url("../img/main_bg.jpg");
  background-size: cover;
  background-position: bottom;
}


.layout .header {
  background-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
}

.layout .header_desc-logo {
  font-size: 3rem !important;
  font-weight: normal; }

.layout .header_desc a {
  font-size: 2rem;
  font-weight: normal;
  color: #fff;}

.layout .header_desc a:hover {
  color: #00B6F1;}

.layout .header_desc .span {
  font-size: 1.1rem;
  margin-top: 7px}

.layout .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100vh - 59.7px) !important;}

.layout .content_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.layout .content_button a {
  font-size: 3rem;
  margin: 0 3rem; }

.layout .section-auth_form {
  background: #fff;
  margin: 0;
  border-radius: 20px;
  padding: 5rem;}

.layout .register-background {
  background: url('../img/register_bg.jpg');
}

.layout .section-auth_form-headText {
  text-align: center; }

.layout .section-auth_form-headText h2 {
  color: #000;
  font-size: 3rem;
  font-weight: normal;
  margin: 0;}

.layout .section-auth_form-group {
  width: 90%;
  margin: 5px}

.layout .section-auth_form-group label {
  font-size: 1.3rem !important; }

.layout .section-auth_form-group .confPass {
  display: block;
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.1rem !important;}

.layout .section-auth_form-check {
  margin: 0 !important;
  width: 70%; }

.layout .section-auth_form-check label {
  line-height: 1.7 !important; }
  
.layout .section-auth_form button {
  font-size: 1.5rem;
  margin-top: 5rem; }

.layout .footer {
  background-color: transparent;
  color: #fff;
  text-align: left; 
  padding: 0;}

.layout .footer_soc-icon {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important; 
  padding: 0.75rem 0;}

.layout .footer_soc-icon li {
  margin-right: 20px; }

.layout .footer_soc-icon li a {
  font-size: 3rem;}

.layout .footer_soc-icon li a .fa-vk:hover {
  color: #5181B8; }

.layout .footer_soc-icon li a .fa-facebook:hover {
  color: #3B579D; }

.layout .footer_soc-icon li a .fa-instagram:hover {
  color: #9c27b0; }

.layout .footer_soc-icon li a .fa-twitter:hover {
  color: #00B6F1; }

.layout .footer .footer_menu, .footer_soc-icon {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.layout .footer .footer_menu li {
  margin-bottom: 10px;}

.layout .footer .footer_menu li a {
  padding: 0;
  font-size: 1.5rem;}

.layout .footer .footer_menu li a:hover {
  color: #9c27b0 !important; }

.layout .footer .footer_menu li a, .footer_soc-icon li a{
  color: #fff !important;}

.layout .footer .footer_menu li, .footer_soc-icon li{
  list-style: none;}

.info-title {
  color: #fff;
}

.info-area .description  p.description {
  color: hsla(0,0%,100%,.65) !important;
}

.full-page-content {
  padding-top: 150px;
}

.card {
  margin: 0 !important;
}

.register-page {
  padding: 0 !important;
}

.icon {
  margin-top: 0 !important;
}

.nav-item {
  font-size: 1.9rem;
}
.nav-item .nav-link{
  padding: 11px !important;
}

.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
  top: 2px !important;
}

.input-group-addon .now-ui-icons:before {
  font-size: 2.2rem;
}

.card {
  border-radius: 1.3rem !important;
}














@media (max-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    background: #fff !important;
    padding: 10px;
  }
  .layout .header_desc a {
    color: #fff !important;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #888;
  }
  .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover {
    background-color: rgba(136,136,136, 0.2) !important;
    border-radius: .1875rem;
    color: #888 !important; 
  }
  .navbar .navbar-nav .nav-item.active .nav-link:not(.btn), .navbar .navbar-nav .nav-item .nav-link:not(.btn):active, .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus {
    background-color: rgba(136,136,136, 0.2) !important;
    border-radius: .1875rem;
    color: #888 !important;
  }
  
}
